body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--font-family-base);
  background-color: white;
  color: var(--slate-900);
}
