:root {
  /* Colors */
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;

  /* Typography Presets */
  --font-family-base: "Red Hat Display", system-ui, sans-serif;
  --text-preset-1-font-size: 4rem;
  --text-preset-1-font-weight: 900;
  --text-preset-1-line-height: 1.1;
  --text-preset-1-letter-spacing: 0rem;
  --text-preset-2-font-size: 2.5rem;
  --text-preset-2-font-weight: 900;
  --text-preset-2-line-height: 1.1;
  --text-preset-2-letter-spacing: 0rem;
  --text-preset-3-font-size: 1rem;
  --text-preset-3-font-weight: 900;
  --text-preset-3-line-height: 1.1;
  --text-preset-3-letter-spacing: 0.25rem;
  --text-preset-4-font-size: 1.125rem;
  --text-preset-4-font-weight: 500;
  --text-preset-4-line-height: 1.1;
  --text-preset-4-letter-spacing: 0rem;
  --text-preset-5-font-size: 1rem;
  --text-preset-5-font-weight: 900;
  --text-preset-5-line-height: 1.5;
  --text-preset-5-letter-spacing: 0rem;
}
