h1 {
  font-size: var(--text-preset-1-font-size);
  font-weight: var(--text-preset-1-font-weight);
  line-height: var(--text-preset-1-line-height);
  letter-spacing: var(--text-preset-1-letter-spacing);
}

h2 {
  font-size: var(--text-preset-2-font-size);
  font-weight: var(--text-preset-2-font-weight);
  line-height: var(--text-preset-2-line-height);
  letter-spacing: var(--text-preset-2-letter-spacing);
}

.text-content-info {
  font-size: var(--text-preset-3-font-size);
  font-weight: var(--text-preset-3-font-weight);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);
}

p {
  font-size: var(--text-preset-4-font-size);
  font-weight: var(--text-preset-4-font-weight);
  line-height: var(--text-preset-4-line-height);
  letter-spacing: var(--text-preset-4-letter-spacing);
}

.btn,
.number {
  font-size: var(--text-preset-5-font-size);
  font-weight: var(--text-preset-5-font-weight);
  line-height: var(--text-preset-5-line-height);
  letter-spacing: var(--text-preset-5-letter-spacing);
}

@media (min-width: 48rem) {
  h1 {
    font-size: var(--text-preset-1-tablet-font-size);
  }

  h2 {
    font-size: var(--text-preset-2-tablet-font-size);
  }

  .text-content-info {
    font-size: var(--text-preset-3-tablet-font-size);
  }

  p {
    font-size: var(--text-preset-4-tablet-font-size);
  }

  .btn,
  .number {
    font-size: var(--text-preset-5-tablet-font-size);
  }
}

@media (min-width: 75rem) {
  h1 {
    font-size: var(--text-preset-1-desktop-font-size);
  }

  h2 {
    font-size: var(--text-preset-2-desktop-font-size);
  }

  .text-content-info {
    font-size: var(--text-preset-3-desktop-font-size);
  }

  p {
    font-size: var(--text-preset-4-desktop-font-size);
  }

  .btn,
  .number {
    font-size: var(--text-preset-5-desktop-font-size);
  }
}
